extends ./layout/_layout
block title
  title 康健嚴選
block style
  link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
block script
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
block content
  .index-wrap
    h1 index page
    form(action="")
      input(type="text", name="")
      label input 1234567
    //- img(src="../assets/image/test.png")